* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

/* body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-weight: 500;
} */

html {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial';
    scroll-behavior: smooth;
}

/* ------------------------------------- */
/* REUSABLE COMPONENTS */
/* ------------------------------------- */

/* ----- HEADINGS ----- */

h1 {
    font-size: 280%;
    font-weight: 300;
    color: #fff;
}

/* ----- BUTTONS ------ */

.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited {
    background-color: #3498db;
    color: #fff;
    border: 1px solid #3498db;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #3498db;
    color: #3498db;
}

.btn:hover,
.btn:active {
    background-color: #2887c7;
}

.btn-full:hover,
.btn-full:active {
    border: 1px solid #3498db;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #3498db;
    color: #fff;
}

.btn-ghost:hover,
.btn-ghost.hover {
    color:white !important;
}

.btn-full:hover,
.btn-full.hover {
    color:white !important;
}

/* -- HEADER -- */
#section-header {
    display: grid;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../src/header-min.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1fr;
}

nav {
    grid-area: 1 / 1 / span 1 / span 1;
    text-align: right;
    margin-top: 1%;
}

nav li {
    padding: 4%;
    display: inline;
    font-size: 180%;
}

.heading {
    grid-area: 2 / 1 / span 1 / span 1;
    padding-left: 15%;
    padding-top: 15%;
}

.hero-text-box h1 {
    color: white;
    padding-bottom: 2%;
}


.hero-text-box p {
    color: white;
}

/* -- QUESTION -- */

#section-question {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 0.8fr 0.1fr;
    background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);


    grid-template-areas: 
    "nav nav nav nav"
    "sidebar main main ad"
    "footer footer footer footer";
    grid-gap: 0.2rem;
}

main h1 {
    padding-bottom: 5%;
    text-decoration: underline;
}

.nav {
    grid-area: nav;
    border-radius: var(--main-radius);
    padding: var(--main-padding);
}

.sidebar {
    grid-area: sidebar;
    border-radius: var(--main-radius);
    padding: var(--main-padding);
}

main {
    grid-area: main;
    background-color: #ecf0f1;
    border-radius: 15px 50px 15px 50px;
    padding: var(--main-padding);
    padding: 5%;
}

.label-head {
    text-decoration: underline;
}

.container {
    overflow: hidden;
}



footer {
    grid-area: footer;
    border-radius: var(--main-radius);
    padding: var(--main-padding);
}

@media only screen and (max-width:550px){
    #section-question {
        grid-template-columns: 1fr;
        grid-template-rows: 0.1fr 0.1fr 2fr 0.2fr;
        grid-template-areas: 
        "nav"
        "sidebar"
        "main"
        "footer"
    }
}

/* -- TUTORING -- */

#section-tutoring {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 0.8fr 0.1fr;
    background-image: linear-gradient(315deg, #949494 0%, #ebebeb 74%);



    grid-template-areas: 
    "nav nav nav nav"
    "sidebar main main ad"
    "footer footer footer footer";
    grid-gap: 0.2rem;
    color: black;
    /* text-shadow: -0.75px 0.75px 0 #000,
                    0.75px 0.75px 0 #000,
                 0.75px 0.75px 0 #000,
                -0.75px -0.75px 0 #000; */
}

#section-tutoring main {
    background-color: #76d8ff;
    font-weight: lighter;
}



