* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

/* body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-weight: 500;
} */

html {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial';
    scroll-behavior: smooth;
}

/* ------------------------------------- */
/* REUSABLE COMPONENTS */
/* ------------------------------------- */

/* ----- HEADINGS ----- */

h1 {
    font-size: 280%;
    font-weight: 300;
    color: #fff;
}

/* ----- BUTTONS ------ */

.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited {
    background-color: #3498db;
    color: #fff;
    border: 1px solid #3498db;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #3498db;
    color: #3498db;
}

.btn:hover,
.btn:active {
    background-color: #2887c7;
}

.btn-full:hover,
.btn-full:active {
    border: 1px solid #3498db;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #3498db;
    color: #fff;
}

.btn-ghost:hover,
.btn-ghost.hover {
    color:white !important;
}

.btn-full:hover,
.btn-full.hover {
    color:white !important;
}

/* -- HEADER -- */
#section-header {
    display: grid;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../src/header-min.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1fr;
}

nav {
    grid-area: 1 / 1 / span 1 / span 1;
    text-align: right;
    margin-top: 1%;
}

nav li {
    padding: 4%;
    display: inline;
    font-size: 180%;
}

.heading {
    grid-area: 2 / 1 / span 1 / span 1;
    padding-left: 15%;
    padding-top: 15%;
}

.hero-text-box h1 {
    color: white;
    padding-bottom: 2%;
}


.hero-text-box p {
    color: white;
}

/* -- QUESTION -- */

#section-question {
    display: grid;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7));
    grid-template-columns: 100%;
    grid-template-rows: 0.1fr 1fr;
    grid-template-areas:
    "nav",
    "main";
}



main {
    background-color: maroon;
    grid-area: 2 / 1 / span 1 / span 1;
}